<% provide(:title, 'About') %>
<h1>About</h1>
<div class="span8 offset2">
	<p>
		At My To-dos we believe that you want to be able to keep track of things that you have to do in a simple and clean manner. 
	</p>
	<p>
		This is the product of that belief. <strong>Enjoy!</strong>
	</p>
</div>