<% provide(:title, 'Help') %>
<h1>Help</h1>
<div id="about">
  <h2>How to add an item</h2>
  <p>Give your task a name, set a due date and a description of that task. Press Add!</p>

  <h2>How to mark an item as complete</h2>
  <p>Click the <%= "\u2713" %> at the end of task.</p>
  
  <h2>How to delete an item</h2>
  <p>Click the x at the end of a task.</p>
</div>