<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>How to add an item</h2>
<ol>
  <li>Fill in item name.</li>
  <li>Set its due date.</li>
  <li>Fill in todo content.</li>
</ol>
<h2>How to mark an item as complete</h2>
<ul>
  <li>Click the <%= "\u2713" %> at the end of a todo item.</li>
</ul>
<h2>How to delete an item</h2>
<ul>
  <li>Click the x at the end of a todo item.</li>
</ul>