<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>How to add an item?</h2>
<ul>
  <li>This will help you.</li>
  <li>Some additional info.</li>
  <li>If this doesn't help you then no one can.</li>
</ul>
<h2>How to delete an item?</h2>
<ul>
  <li>This will help you.</li>
  <li>Some additional info.</li>
  <li>If this doesn't help you then no one can.</li>
</ul>
<h2>How to set reminders?</h2>
<ul>
  <li>This will help you.</li>
  <li>Some additional info.</li>
  <li>If this doesn't help you then no one can.</li>
</ul>