<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Todolist | Todos Today</h1>
    <p>Hi <%= @user.name %>,</p>
    <p>These are the items due today:</p>
    <ul>
      <% @user.items.each do |item| %>
        <% if item.completed? == false && item.due_date == Date.today %>
        <%# if item.completed? == false %>
          <li><%= item.name %>: <%= item.content %></li>
        <% end %>
      <% end %>
    </ul>
    <p>Thanks for using Todolist and have a great day!</p>
  </body>
</html>
