<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <p>some information</p>
    <div>
      <%= button_to "Send email", send_email(@user, root_url) %>
    </div>
  </div>
</div>