<!-- <div class="row">
  <div class="span6 offset3"> -->
		<% if @user.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@user.errors.count, "error") %> present in this form.</h2>

		    <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
<!-- 	</div>
</div> -->