<div class="row">
	<div class="span6 offset3">
		<% provide(:title, 'Editing todo') %>
		<h1>Editing todo</h1>
	</div>
</div>
<%= render 'form' %>

<%= link_to 'Show', @todo %> |
<%= link_to 'Back', todos_path %>
