<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Todolist", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "login",  '#' %></li>
          <li><%= link_to "signup", signup_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>